@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

label {
  display: block;
  margin-bottom: 5px;
}
input,
select {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

body {
  color: var(--foreground);
  background: var(--background);
  @apply flex items-center justify-center h-screen p-5;
}

.form-group {
  @apply mb-4;
}

.form-container {
  width: 400px;
  padding: 20px;
  background: var(--foreground);
  color: var(--background);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.button-container {
  display: flex;
  align-items: center;
  gap: 8px;
}
.button-container button {
  padding: 10px 15px;
  cursor: pointer;
  @apply rounded-md bg-slate-800 text-zinc-200;
}
.button-container .reset {
  @apply bg-red-700 rounded-md text-zinc-200;
}

.checkbox-group input {
  width: auto;
}
